section {
    outline: 4px dotted aquamarine;
    display: flow-root;
    text-align: center;
    width: 250px;
    height: 250px;
    z-index: 0;
}

p {
    width: 100%;
    box-sizing: border-box;
    border: 5px solid blue; 
    padding: 20px;
}
